/* Customização */


@font-face {
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('fontes/proxima-nova.woff');
}

.botaoRedondo{
    width: 100%;
    height: 100px;
}

.texto-apresentacao{
    margin-top: 30px;
}

body{
    font-family: Proxima Nova;
    background: #E1F5FE;
}

.navbar{
    font-size: 1.2em;
}

#espacamento{
    margin-left: 70px;
}
  
.respostas{
padding-left: 10px;
padding-top: 10px;
text-align: justify;
}

#logo{
padding: 0%;
width: 40pt;
}

.shadow{
-moz-box-shadow:0 0 8px 0 black;
-webkit-box-shadow:0 0 8px 0 black;
box-shadow:0 0 8px 0 black;
}

.borda-card{
border-top-left-radius: 10%;
border-top-right-radius: 10%;
border-bottom-left-radius: 15%;
border-bottom-right-radius: 15%;

}
.card-informacoes-titulo{
padding: 0pt;   
}
p{
text-align: justify;
}

.btn-saber-mais{
color: black;
}

#titulo-email, #titulo-redes-sociais{
margin-top: 10pt;
}

#titulo-redes-sociais{
    margin-bottom: 10pt;
}

#enviar-email{
    margin-bottom: 10pt;
}

#resgate.fa-first-aid{
color: green;
}
#adocao.fa-heart{
color: red;
}

#campoemail, #camporedes{
background-color: #A9DCDD;
}

.card-imagem{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    filter: contrast(70%);
    border: 1px solid black;
}

.btn-card{
    margin-bottom: 10px;
}


.navbar-nav > .active > a {    
    border-bottom: 2px solid #FF1E58;
}
.opacidade-card{
    opacity: 0.5;
}

.back{
    background-size: cover;
}